@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
    font-display: swap;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #ccffd4;
    margin: 0;
    padding: 0;
}


h1{
    font-size: 2em;
}
.title {
    padding: 0 20px 0 20px;
    display: flex;
}

 .title h1 {
    color: #f3e9e3;
}

 .title img {
    width: 50px;
    height: 50px;
    align-self: center;
    margin-left: 10px;
    opacity: 0.9;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: #2d6a4f;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0e3326;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d8f3dc;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1b4332;
    color: white;
    margin: 0;
    padding: 0 2rem 0 2rem;
    border: none;
    height:100%;
}

.openbtn:hover {
    background-color: #0c2a20;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#main .message-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.message h1 {
    margin: 0.3em;
}

.message p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 0;
}

a {
    color: #40916c;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
    background-color:inherit;
}

.small-image {
    display: block;
    margin: auto;
}

.list-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doubled-image{
    display: block;
    margin:auto;
    width: 75%;
}
main img:hover{
    cursor: pointer;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .message h1 {
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 620px){
    .smalls{
        width:95%;
    }
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
	margin: auto;
	display: block;
	width: max-content;
    max-width: 500px;
    height: max-content;
    margin: 0.5em;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
    color: #143601;
    background-color: #ccffd4;
	padding: 0;
    margin:0;
    overflow:scroll;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.3s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: -80px;
	right: 20px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
}
.image-container img{
    width:200px;
}
li{
    text-align: left;
}
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }
 
  /* Gallery */
 
  @media only screen and (max-width:400px){
    .image-container img{
        width:80px;
    }
  }