body {
    font-family: "Lato", sans-serif;
    background-color: #ccffd4;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2d6a4f;
}
header .title{
    padding:0 20px 0 20px;
    display: flex;
}
header .title h1{
    color:#f3e9e3;
}
header .title img{
    width: 50px;
    height:50px;
    align-self: center;
    margin-left:10px;
    opacity: 0.9;
}
.row{
    display: flex;
    justify-content: space-between;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0e3326;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d8f3dc;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1b4332;
    color: white;
   margin:0;
   padding:0 2rem 0 2rem;
    border: none;
}

.openbtn:hover {
    background-color: #0c2a20;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
#main .message-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.message h1{
    margin: 0.3em;
   
}
.message p {
font-size: 20px;
margin:0;
text-align: center;
margin-bottom: 2em;
}
a {
    color: #40916c;
}
a:hover{
    text-decoration: none;
}
.center{
    text-align: center;
}
.small-image{
    display: block;
    margin: auto;
}
.list-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
    
}
@media screen and (max-width: 450px){
    .message h1{
        display: flex;
        flex-direction: column;
    }
}