@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
    font-display: swap;
}

body {
    font:1em/1.5em "Raleway", sans-serif;
    max-width: 100%;
    background-color: #ebfbf1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    
}

.title {
    padding: 0 20px 0 20px;
    display: flex;
}

.title h1 {
    color: #f3e9e3;
    font-size: 2.2em;
    letter-spacing: 0.1em;
}

.title img {
    width: 50px;
    height: 50px;
    align-self: center;
    margin-left: 10px;
    opacity: 0.9;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: #1e533b;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #00aa80;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a  {
    padding: 18px 0px 18px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #fafafa;
    display: block;
    transition: 0.3s;
    border-left: 10px solid transparent;
    border-bottom: 1px solid #a33030;
}

.sidebar a:hover {
    border-left: 5px solid #ff0505;
}
.sidebar .closebtn:hover{
    border: 0px solid transparent !important;
    font-size:3em;
    color: #ff0505;
}

.sidebar .closebtn {
    display:block;
    position: absolute;
    top: 0;
    padding-bottom: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-right:10px;
    text-align: center;
    border: 0px none transparent
}



.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #195f47;
    color: #74fff6;
    margin: 0;
    padding: 0 2rem 0 2rem;
    border: none;
    height: 100%;
}

.openbtn:hover {
    background-color: #164938;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#main .message-container {
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 2.6em;
}
.ssco-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fbcon{
    display: flex;
    flex-wrap:wrap;
}
#main .bg{
    max-width: 500px;
    min-width: 280px;
    border-bottom: 1px solid #a33030;
    flex:1;
}

.message h1 {
    margin: 0.3em;
}

big {
    color: #3b6e5c;
    text-shadow: 1px 1px 3px rgba(26, 85, 35, 0.5);
}

.message p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 0;
}

a {
    color: #a33030;
    text-decoration-color: #a33030;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
    background-color: inherit;
}

.small-image {
    display: block;
    margin: auto;
}

.list-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doubled-image {
    display: block;
    margin: auto;
    width: 75%;
}

main img {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 31px 11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 31px 11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 31px 11px rgba(0, 0, 0, 0.09);
}

main img:hover {
    cursor: pointer;
}

.bg {
    background-color: rgba(166, 230, 187, 0.3);
    border-radius: 10px;
    display: inline-block;
    margin: 0.2em;
    padding: 1.3em;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(30, 47, 36, 0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(30, 47, 36, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(30, 47, 36, 0.2);
    transition: 0.3s;
}
.bg p{
    box-sizing: content-box;

}
.bg:hover {
    margin: 0.4em 0.4em 0.4em 0.4em;
}

.cr-wrap {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content:center;
}

#resources ul {
    padding: 0;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: max-content;
    margin: 0.5em;
}

#caption:hover {
    cursor: pointer;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 44%;
    max-width: 700px;
    text-align: center;
    color: #143601;
    background-color: #ccffd4;
    padding: 0;
    margin: 0 0 20px 0;
    overflow: scroll;
    border-radius: 10px;
    transition: 0.5s;
}

#caption:hover {
    width: 45%;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: -80px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-container img {
    width: 200px;
}

li {
    text-align: left;
}
footer{
    text-align:center
}
/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 95%;
    }
}

/* Gallery */

@media only screen and (max-width:400px) {
    .image-container img {
        width: 80px;
    }
    #caption {
        width: 95%;
        transition: 2s;
    }
   
    #caption:hover {

        width: 95%;
    }
    #caption:active {
        width: 30%;
}
   
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .message h1 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) {
    .smalls {
        width: 95%;
    }
}
